* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #e1d4c3;
}

.header {
	padding: 50px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	background-color: #0a1638;
	color: #ffffff;
	border-bottom: 15px solid #e3b26f;

}

.header h1 {
	display: inline-block;
	font-size: 48px;
}


.header nav {
	padding-top: 15px;
	margin-right: 20px;
	float: right;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	
}


li {
  list-style-type: none; 
  display: inline-block;
  margin-left: 25px;
  font-size: 30px;
}


a {
	color: #ffffff;
	text-decoration: none;
}

main {
	display: flex;
	flex-wrap: wrap;

}

aside {
	margin-left: 10px;
	padding: 75px;
	clear: both;
	float: left;
	width: 20%;
	max-height: 100%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border-right: 5px solid #e3b26f;
	text-align: right;
	color: black;
}

h2 {
	font-weight: bolder;
	font-size: 50px;
	padding: 60px;
	flex-wrap: wrap;
	align-items: flex-end;
	font-family: Georgia, 'Times New Roman', Times, serif;

}

.content {
	width: 75%;
	display: block;
	margin-left: 20px;
}

.container {
	margin-top: 10px;
	margin-bottom: 15px;
	margin-right: 50px;
	padding: 20px;
	height: 300px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	color: #ffffff;
	text-align: left;
}

.container p {
	margin-top: 50px;
	color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container img {
	height: 300px;
	float: left;
	margin-top: -10px;
	margin-right: 25px;
	margin-left: -20px;
	padding: 20px;
}

.box {
	position: relative;
	text-align: center;
}

.bottom-right {
	position: absolute;
	bottom: -520px;
	right:200px;
	color:white;
	font-size: 40px;
}

.code img {
	flex-direction: row;
	width: 1325px;
	height: 450px;
	margin-right: 25px;
	padding: 20px;
 }

.row img {
	display: flex;
	width: 650px;
	height: 350px;
	margin-right: 25px;
	padding: 20px;
	margin-bottom: 20px;
 }

 .column {
	flex: 50%;
	padding: 15px;
	position: relative;
	text-align: center;

}

.first {
	position: absolute;
	bottom: -620px;
	left:20px;
	color:white;
	font-size: 25px;
	font-weight: bolder;
}

.second {
	position: absolute;
	bottom: -588px;
	right:170px;
	color:white;
	font-size: 25px;
	font-weight: bolder;
}

.third {
	position: absolute;
	bottom: -920px;
	left:20px;
	color:white;
	font-size: 25px;
	font-weight: bolder;
}

.fourth {
	position: absolute;
	bottom: -900px;
	right:170px;
	color:white;
	font-size: 25px;
	font-weight: bolder;
}
footer {
	margin-top: 1px;
	height: 195px;
	border-top: 15px solid #e3b26f;
	padding: -10px;
	background-color: #0a1638;
	
}
.footer h2 {
	display: inline-block;
	font-size: 48px;
	align-items: center;
	text-align: left;
	color:#ffffff;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.footer p, footer a {
	display: inline-block;
	padding: 60px;
	margin-right: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 40px;
	align-items: center;
	text-align: none;
	color: #ffffff;
	
}

@media screen and (max-width: 768px) {
	header,
	main, 
	nav,
	footer {
		flex-direction: column;
	}
	
 }
 
 